body {
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.div1 {
        width: 60%;
        height: 300px;
        margin-top: 40px;
        padding: 35px;
        border: 1px solid #dddddd;
        border-radius: 8px;
    } 